body
{
	margin-left:0;
	margin-right:0;
}

#Home
{
	text-align: center;
	position: absolute;
	width:100%;
	height: 538px;
	background: #fff;
}

#Logo
{
	height:219px;
}

#Logo img
{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

h1
{
	background-color: rgb(0,174,239);
	color: white;
	height:172px;
	line-height:172px;
	text-align: center;
	font-size:36;
	margin:0;
}

span
{
	display:inline-block;
	line-height:normal;
}

h1 span
{
	padding-top:24px;
	padding-bottom:24px;
}

#home_subtitle
{
	height:148px;
	line-height:148px;
	text-align: center;
}

#home_subtitle span
{
	padding-top:45px;
	padding-bottom:45px;
}

#home_test
{
	height:50px;
	line-height:50px;
	color: #fff;
	font-size: 21px;
	background-color: rgb(0,174,239);
	width: 400px;
	display: inline-block;
	text-decoration: none;
}

#Menu
{
	position:absolute;
	width:100%;
}

.menu
{
	position: absolute;
	top: 1000px;
	width:100%;
}

#menu_logo
{
	height:126px;
}

#menu_logo img
{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#menu_search
{	
	background-color: rgb(0,174,239);
	color: white;
	width:100%;
	display:inline-block;
	height:75px;
	line-height:75px;
	text-align: center;
	font-size:18;
	margin:0;
}

#menu_search span
{
	vertical-align: middle;
	height: 75px;
	width:397px;
	border-width:0px;
	padding:0px;
}

input
{
	width:80%;
}

button, input
{
	border-width:0px;
	padding:0px;
	height:38px;
}

#menu_filter
{
	height:105px;
	line-height:105px;
	text-align:center;
}

#menu_filter img
{
	vertical-align: middle;
}

#World
{
	position:absolute;
	width:100%;
	top:306px;
}

.chart
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	display:inline-block;
	height:503px;
	line-height:503px;
	width:100%;
}

.chart rect
{
	fill:rgb(254,165,0);
}

.chart text {
	fill: black;
	font: 10px sans-serif;
	text-anchor: middle;
}


.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}